# Virtual environment
venv/

# Compiled Python files
*.pyc
__pycache__/

# Operating system files (example for macOS)
.DS_Store

# Other temporary or editor-generated configuration files
.vscode/

# Credentials
credentials.json
token.json

# Folders
cache/
images/

# Specific files to ignore
contagem_json.py
convert_json_to_csv.py
teste.ipynb
places_api_sample_response.odt