# Virtual environment
venv/

# Compiled Python files
*.pyc
__pycache__/

# Operating system files (example for macOS)
.DS_Store

# Other temporary or editor-generated configuration files
.vscode/

# Credentials
credentials.json
token.json

# Folders
cache/

# Specific files to ignore
contagem_json.py
convert_json_to_csv.py
teste.ipynb
places_api_sample_response.odt
requirements.txt
results/nyc_restaurants_04_11_2025_17_03_49.json
images/Capa_Project_Upwork (1200 x 900 px).jpg
images/csv_example.png
images/google_sheets_example.png
images/json_example.png
images/pandas_example.png